<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>	
        
    <title>Grupo</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div th:replace="fragments/menu :: menu"/>


<section class="main-content container">



            <!--page header start-->
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Grupo</h4>
                    </div>
                    <div class="col-sm-6 text-right">
                        <ol class="breadcrumb">
                            <li><a href="javascript: void(0);"><i class="fa fa-home"></i></a></li>
                            <li>E-commerce</li>
                            <li>Products</li>
                        </ol>
                    </div>
                </div>
            </div>
            <!--page header end-->

			<div class="row">
			
                <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form role="form" class="form-inline">
                            <div class="form-group">
                            	<input type="button" id="btnBuscar" class="btn btn-danger" value="BUSCAR"/>
                            </div>
                            <div class="form-group">
                                <input type="button" class="btn btn-primary" data-toggle="modal" data-target=".pop-up-grupo"  value="NUEVO"/>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            <!--start page content-->            
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
	                         <table id="dtLista" class="table table-striped dt-responsive nowrap table-hover">
	                         	<thead>
	                         		<tr>
	                         			<th>ID</th>
	                         			<th>Nombre</th>
	                         			<th>Estado</th>
	                         		</tr>
	                         	</thead>
	                         	<tbody></tbody>
	                         </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--end page content-->

			<div class="modal fade pop-up-grupo" tabindex="-1" role="dialog" aria-labelledby="pop-up-grupo">
	            <div class="modal-dialog" role="document">
	                <div class="modal-content">
	                    <div class="modal-header">
	                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
	                        <h4 class="modal-title" id="pop-up-grupo">Registrar</h4>
	                    </div>
	                    <div class="modal-body">
	                    	<form role="form" id="ajaxForm"  method="POST">
                                <div class="form-group">
                                    <label>Descripcion</label>
                                    <input type="text"  name="desNomVc" id="desNomVc" placeholder="descripcion del grupo" class="form-control"/>
                                </div>
                            </form>
	                    </div>
	                    <div class="modal-footer">
	                        <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
	                        <button type="button" id="btnGuardar" class="btn btn-primary">GUARDAR</button>
	                    </div>
	                </div>
	            </div>
	        </div>
            

        </section>
        
        
        <!--Start footer-->
            <footer class="footer">
                <span>Copyright &copy; 2017. Float</span>
            </footer>
            <!--end footer-->
            
            
            
            <script>
            var table = null;
            
            $(document).ready(function () {            	
            	$("#btnGuardar").click(guardar);
            	$("#btnBuscar").click(listar);
            	
            	table = $('#dtLista').DataTable();            	
            });
            
            function guardar(){
            	var object=new Object();
    		    object.desNomVc=$("#desNomVc").val();
    		    $.ajax({
    		        url: 'http://localhost:8085/catgrupo',
    		        data: JSON.stringify(object),
    		        dataType: 'JSON',
    		        type: 'POST',
    		        contentType: "application/json; charset=utf-8",
    		        success: function (jsondata) {
    		        	$(".pop-up-grupo").modal("hide");
    		        	listar();
    		        	swal("Mensaje", "Registro ingresado correctamente", "success");
    		        }
    		    });
            }
            
            
            function listar(){
    		    $.ajax({
    		        url: 'http://localhost:8085/catgrupo',
    		        dataType: 'JSON',
    		        type: 'GET',
    		        contentType: "application/json; charset=utf-8",
    		        success: function (jsondata) {
    		            //console.table(jsondata);
    		            $.each(jsondata, function(i,obj){
    		            	var rowNode=table.row.add(
    		            	[
    		            		(i+1),
    		            		obj.desNomVc,
    		            		obj.flgEstBo
    		            	]		
    		            	).draw();
    		            });
    		        }
    		    });
            }
        </script>


</body>
</html>