<html xmlns:th="http://www.thymeleaf.org">
<head>

	<div th:fragment="header-css">
	        <meta charset="utf-8"/>
	        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	        <meta name="viewport" content="width=device-width, initial-scale=1"/>
	        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	        <title>Float-Admin</title>
	
	
	        <!-- Common plugins -->
	        <link href="../../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	        <link href="../../plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet"/>
	        <link href="../../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
	        <link href="../../plugins/pace/pace.css" rel="stylesheet"/>
	        <link href="../../plugins/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet"/>
	        <link rel="stylesheet" href="../../plugins/nano-scroll/nanoscroller.css"/>
	        <link rel="stylesheet" href="../../plugins/metisMenu/metisMenu.min.css"/>
	        <!-- dataTables -->
	        <link href="../../plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
	        <link href="../../plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css"/>
	
	        <!--template css-->
	        <link href="../../css/style.css" rel="stylesheet"/>
	        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	        <!--[if lt IE 9]>
	          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	        <![endif]-->
        </div>
    </head>
<body>
<div th:fragment="header">
    <!-- this is header -->
     <!--top bar start-->
        <div class="top-bar light-top-bar"><!--by default top bar is dark, add .light-top-bar class to make it light-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="index.html" class="admin-logo">
                            <h1><img src="images/logo-dark.png" alt=""/></h1>
                        </a>
                        <div class="left-nav-toggle visible-xs visible-sm">
                            <a href="">
                                <i class="glyphicon glyphicon-menu-hamburger"></i>
                            </a>
                        </div><!--end nav toggle icon-->
                        <!--start search form-->
                        <div class="search-form hidden-xs">
                            <form>
                                <input type="text" class="form-control" placeholder="Search for..."/>
                                <button type="button" class="btn-search"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <!--end search form-->
                    </div>
                    <div class="col-xs-6">
                        <ul class="list-inline top-right-nav">
                            <li class="dropdown hidden-xs icon-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    <span class="badge badge-warning">4</span>
                                </a>
                                <ul class="dropdown-menu top-dropdown lg-dropdown notification-dropdown">
                                    <li>
                                        <div class="dropdown-header"><a href="#" class="pull-right text-muted"><small>View All</small></a> Messages </div>
                                        <div class="scrollDiv">

                                            <div class="notification-list">
                                                <a href="javascript: void(0);" class="clearfix">
                                                    <span class="notification-icon">
                                                        <img src="images/avtar-2.jpg" alt="" class="img-circle" width="50"/>
                                                    </span>                                                 
                                                    <span class="notification-title">John Doe <label class="label label-primary pull-right">Office</label></span>
                                                    <span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
                                                    <span class="notification-time">40 minutes ago</span>
                                                </a>
                                                <a href="javascript: void(0);" class="clearfix">
                                                    <span class="notification-icon">
                                                        <img src="images/avtar-3.jpg" alt="" class="img-circle" width="50"/>
                                                    </span>                                                 
                                                    <span class="notification-title">Emily Doe  <label class="label label-info pull-right">Marketing</label></span>
                                                    <span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
                                                    <span class="notification-time">40 minutes ago</span>
                                                </a>
                                                <a href="javascript: void(0);" class="clearfix">
                                                    <span class="notification-icon">
                                                        <img src="images/avtar-4.jpg" alt="" class="img-circle" width="50"/>
                                                    </span>                                                 
                                                    <span class="notification-title">Michael Clark <label class="label label-warning pull-right">Support</label> </span>
                                                    <span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
                                                    <span class="notification-time">40 minutes ago</span>
                                                </a>
                                                <a href="javascript: void(0);" class="clearfix">
                                                    <span class="notification-icon">
                                                        <img src="images/avtar-5.jpg" alt="" class="img-circle" width="50"/>
                                                    </span>                                                 
                                                    <span class="notification-title">Ronaldo <label class="label label-success pull-right">Metting</label> </span>
                                                    <span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
                                                    <span class="notification-time">40 minutes ago</span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                            <li class="dropdown hidden-xs icon-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-bell"></i>
                                    <span class="badge badge-danger">6</span>
                                </a>
                                <ul class="dropdown-menu top-dropdown lg-dropdown notification-dropdown">
                                    <li>
                                        <div class="dropdown-header"><a href="#" class="pull-right text-muted"><small>View All</small></a> Notifications </div>
                                        <div class="scrollDiv">
                                            <div class="notification-list">
                                                <a href="javascript: void(0);" class="clearfix">
                                                    <span class="notification-icon"><i class="icon-cloud-upload text-primary"></i></span>                                                 
                                                    <span class="notification-title">Upload Complete</span>
                                                    <span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
                                                    <span class="notification-time">40 minutes ago</span>
                                                </a>
                                                <a href="javascript: void(0);" class="clearfix">
                                                    <span class="notification-icon"><i class="icon-info text-warning"></i></span>                                                 
                                                    <span class="notification-title">Storage Space low</span>
                                                    <span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
                                                    <span class="notification-time">40 minutes ago</span>
                                                </a>
                                                <a href="javascript: void(0);" class="clearfix">
                                                    <span class="notification-icon"><i class="icon-check text-success"></i></span>                                                 
                                                    <span class="notification-title">Project Task Complete </span>
                                                    <span class="notification-description">Praesent dictum nisl non est sagittis luctus.</span>
                                                    <span class="notification-time">40 minutes ago</span>
                                                </a>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="javascript: void(0);" class="right-sidebar-toggle"><i class="glyphicon glyphicon-align-right"></i></a>
                            </li>
                            <li class="dropdown avtar-dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="images/avtar-1.jpg" class="img-circle" width="30" alt=""/>

                                </a>
                                <ul class="dropdown-menu top-dropdown">
                                    <li><a href="javascript: void(0);"><i class="icon-bell"></i> Activities</a></li>
                                    <li><a href="javascript: void(0);"><i class="icon-user"></i> Profile</a></li>
                                    <li><a href="javascript: void(0);"><i class="icon-settings"></i> Settings</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript: void(0);"><i class="icon-logout"></i> Logout</a></li>
                                </ul>
                            </li>

                        </ul> 
                    </div>
                </div>
            </div>
        </div>
        <!-- top bar end-->
</div>

</body>
</html>